@charset "UTF-8";
/* --------------------------------
 * base
 * -------------------------------- */

html {
    font-size: 62.5%;
}
/*1rem=10pxになる*/

body {
  margin: 0 auto;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
  letter-spacing: 1px;/*文字と文字の間のスペース*/
  overflow-x: hidden;/*画面の横幅を超えた部分（ｘなら横）を表示しない*/
}

*, *::before, *::after {
  box-sizing: border-box;/*paddingなどを納める*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* --------------------------------
 * parts　使い回すやつ
 * -------------------------------- */

.heading {
  display: block;
  color: #d57328;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  padding: 30px 20px 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid #fff;
}

.heading_sub {
  font-size: 1.8rem;
}

.hidden {
  display: none;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;/*横幅が足りなくなった時に下に*/
}

.btn {
  display: block;
  margin: 20px auto;
  width: 170px;
  padding: 15px 20px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  background: #9d265d;
  border: 1px solid #9d265d;
  color: #fff;
  transition: 0.3s;
}

.btn:hover {
  border: 1px solid #fff;
  border-radius: 50%;
  background: #d57328;
}

.btn_guide {
  width: 140px;
  background: #1b70d3;
  border-color: #1b70d3;
  font-size: 2rem;
}

.btn_guide:hover {
  background: #009556;
}

/* @media */
@media (max-width: 600px) {
  .heading {
    font-size: 2.6rem;
  }
  .btn {
    padding: 10px 15px;
    font-size: 1.6rem;
  }
}

/* --------------------------------
 * header
 * -------------------------------- */

.header_box {
  position: relative;
  font-size: 0;
}

.header_img {
  max-width: 100%;
}

.header_ttl {
  font-size: 5rem;
  text-align: center;
  margin: 10px;
}

.header_logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 800px;
  margin: auto;
  transition: 0.3s;
}

.header_logo:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translateY(10px);
}

  /* nav */
.nav {
  padding: 5px 0;
  background: #fff;
}

.navList {
  display: table;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
}

.navItem {
  display: table-cell;
  font-size: 1.8rem;
  font-weight: bold;
  border-left: 1px dashed #aaa;
  width: 8em;
}

.navItem:last-child {
  border-right: 1px dashed #aaa;
}
/*last-childは「最後の子要素」。左に点戦をつけて、最後だけ右に点線をつける。collapseでも可*/

.navItem_link {
  display: block;
  padding: 5px;
  color: #5e1939;
  transition: 0.2s;
}

.navItem_link:hover {
  color: #da7943;
}

.navItem_sub {
  font-size: 0.7em;
}

.navItem_link-active {
  color: #da7943;
}

/* @media */
@media (max-width: 800px) {
  .header_logo {
    width: 400px;
  }
  .nav_item {
    font-size: 1.4rem;
  }
}

@media (max-width: 450px) {
  .header_logo {
    width: 350px;
  }
  .nav_item {
    font-size: 8px;
  }
  .nav_item_sub {
    display: none;
  }
}

/* --------------------------------
 * menu
 * -------------------------------- */
.nav {
      list-style: none;
      padding: 0;
      display: table;
      margin: 0 auto;
    }
    
    .nav li {
      display: table-cell;
      width: 120px;
      text-align: center;
    }
    
    .nav a {
      display: block;
      background: #555;
      color: #fff;
      padding: 5px 0;
      cursor: pointer;
      transition: 0.2s;
      border-right: 1px solid;
      border-bottom: 1px solid;
    }
 .nav a:hover {
      background: #888;
    }
 .dropDown {
      padding: 0;
      font-size: 0.9em;
      display: none;
    }
.dropDown li{
      display: inline-block;
    }

.menu {
  padding: 60px 10px;
  background: url(images/menu_bg.jpg) 50%;
  background-size: cover;
}

.menu_heading {
  color: #a70707;
  width: 10em;
  margin: 0 auto;
}

.menuItem {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 10px;
  box-sizing: content-box;
  border: 8px solid #fff;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.menuItem:hover {
  transform: scale(1.05);
}

.menuItem_bg01 {
  background: url(images/menu/01.jpg) 50%;
  background-size: cover;
}

.menuItem_bg01:hover {
  transform: translateY(-20px);
}

.menuItem_bg02 {
  background: url(images/menu/02.jpg) 50%;
  background-size: cover;
}

.menuItem_bg03 {
  background: url(images/menu/03.JPG) 50%;
  background-size: cover;
  transition: 0.5s;
}

.menuItem_bg03:hover {
  transform: rotate(360deg);
}

.menuItem_bg04 {
  background: url(images/menu/04.JPG) 50%;
  background-size: cover;
}

.menuItem_bg04:hover {
  transform: skewX(-3deg);
}

.menuItem_bg05 {
  background: url(images/menu/05.jpg) 50%;
  background-size: cover;
}

.menuItem_bg05:hover {
  transform: rotateY(30deg);
}

.menuItem_bg06 {
  background: url(images/menu/06.jpg) 50%;
  background-size: cover;/*↔︎contain 画像を収める方法の一つ。収める予定の枠内に拡大縮小して収めている*/
  transition-timing-function: cubic-bezier(0.5, -2.5, 0.5, 3.5);
}

.menuItem_bg06:hover {
  transform: translatex(10px);
}

.menuItem_desc {
  position: absolute;
  width: 90%;
  padding: 0 10px 5px;
  bottom: 5px;
  left: 5%;
}

.menuItem_ttl {
  display: inline-block;
  padding: 0px 10px;
  margin: 5px 0;
  font-size: 2rem;
  color: #a70707;
  border-left: 5px solid;
  border-right: 5px solid;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px 15px;
}

.menuItem_txt {
  font-size: 1.6rem;
  padding: 5px;
  border-left: 5px solid #a70707;
  border-right: 5px solid #a70707;
  background: rgba(255, 255, 255, 0.7);
}

.menuItem_price {
  font-size: 1.4rem;
  text-align: right;
  border-left: 5px solid #a70707;
  border-right: 5px solid #a70707;
  background: rgba(255, 255, 255, 0.7);
}

.menu_btn {
  background: #a70707;
}

/* @media */
@media(max-width:520px) {
  .menuItem {
    width: 350px;
    height: 210px;
  }
}

/* --------------------------------
 * footer
 * -------------------------------- */

.footer {
  padding-bottom: 5px;
  background: url(images/footer_bg.jpg) 50%;
  color: #fff;
}

.footer_logo {
  margin: 10px 20px;
  transition: 0.3s;
}

.footer_logo:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translateY(5px);
}

.fa {
  font-size: 6rem;
  margin: 10px;
  color: #23648d;
  text-shadow: 1px 1px #fff,
               1px -1px #fff,
               -1px -1px #fff,
               -1px 1px #fff;
  background: #fff;
  border-radius: 10px;
  line-height: 0.7;
  transition: 0.2s;
}

.fa:hover {
  color: #d57328;
  transform: translateY(5px);
}

.footer_copy {
  text-align: center;
}

.footer_btn {
  margin: 10px auto;
  padding: 5px 10px;
  width: 100px;
  font-size: 1.6rem;
  font-weight: normal;
  border-radius: 8px;
}

.footer_company {
  text-align: center;
  margin: 10px 0;
}

/* @media */
@media (max-width:400px) {
  .footer_logo {
    width: 330px;
  }
  .footer_company {
    font-size: 1.2rem;
  }
}